<!DOCTYPE html>
<html lang="en">
<head>
  <title>MatchDay Tweets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./javascripts/index.js"></script>
</head>
<body style="background-color: black">

<div style="background-color: black" class="jumbotron text-center">
  <!--Header Form-->
  <h1 style="color:white">The Matchday Tweets</h1>
  <h4 style="color: white">and Fan Sentiments</h3>
<fieldset>
  <form style="color:white">
    <div class="w3-row w3-container center">
      <div style="text-align: left" class="w3-half">
        <input type="checkbox" name="team" value="Arsenal"> Arsenal<br>
        <input type="checkbox" name="team" value="ManUtd"> Manchester United<br>
        <input type="checkbox" name="team" value="FulhamFC"> Fulham FC<br>
        <input type="checkbox" name="team" value="CardiffCityFC"> Cardiff City FC<br>
        <input type="checkbox" name="team" value="Wolves"> Wolves<br>
        <input type="checkbox" name="team" value="NUFC"> Newcastle United FC<br>
        <input type="checkbox" name="team" value="htafcdotcom"> Huddersfield Town<br>
        <input type="checkbox" name="team" value="OfficialBHAFC"> Brighton & Hove Albion<br>
        <input type="checkbox" name="team" value="BurnleyOfficial">Burnley FC<br>
        <input type="checkbox" name="team" value="afcbournemouth"> AFC Bournemouth<br>
     </div>
     <div style="text-align: left; align-self:center" class="w3-half"> 
        <input type="checkbox" name="team" value="WatfordFC"> Watford FC<br>
        <input type="checkbox" name="team" value="LCFC"> Leicester City<br>
        <input type="checkbox" name="team" value="CPFC"> Crystal Palace FC<br>
        <input type="checkbox" name="team" value="WestHamUtd"> West Ham United<br>
        <input type="checkbox" name="team" value="SpursOfficial"> Tottenham Hotspurs<br>
        <input type="checkbox" name="team" value="SouthamptonFC"> Southampton FC<br>
        <input type="checkbox" name="team" value="ManCity"> Manchester City<br>
        <input type="checkbox" name="team" value="LFC"> Liverpool FC<br>
        <input type="checkbox" name="team" value="Everton"> Everton<br>
        <input type="checkbox" name="team" value="ChelseaFC"> Chelsea FC<br>
     </div>
    </div>
    <br>
    <button id="CompButton" onclick="btnClicked();" type="button" style="background-color: #0084b4" class="sub_button btn"><strong>Compare<strong></button>
    <button onclick="ClearbtnClicked();" type="button" style="background-color: red" class="sub_button"><strong>Clear<strong></button>
  </form>
</fieldset>
  <p style="color:white">Let the tweets kick off!</p> 
</div>

<!--Graphs-->
<div id="chartContainer" style="height: 300px;width:100%"></div>
<br><br>
<!--Tweets-->
<div id="main_cont" class="grid-container"></div>
 
<!-- footer -->
<div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
    <p  style="align-self: center">Powered by <a href="https://www.linkedin.com/in/kaish-kugashia-50565161/" target="_blank" class="w3-hover-text-green">Kaish and Nick</a></p>
</div>

<!--Canvas Js Scripts-->
<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.2/pusher.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

</body>
</html>
