<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home| Matchsday Search</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body class="indexBody">
    
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top" style="color: white">THE MATCHDAY SEARCH</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%; color: white">
      <p class="w3-small w3-center" style="color: white">Because, football is more than just a game</p>
      <fieldset>
        <form action="/tweets" method="post">
          <input name="Team" type="text" placeholder="Search a Team in England" required>
          <input type="submit"  value="Get Team">
        </form>
      </fieldset>
      
    </div>

  </body>
</html>
