<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matchday Tweets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="background-color: black" class="jumbotron text-center">
  <h1 style="color:white">The Matchday Tweets</h1>
  <form action="/tweets" method="post">
  	<input name="Team" type = 'text' class="round">
    <button class="button_round" type="submit" style="background-color: #0084b4"><strong>Search #<strong></button>
  </form>
  <p style="color:white">Let the tweets kick off!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div style="background-color: lightgray" class="col-sm-3">
      <h3>D3 Graphs Here</h3>
      <p>Graph1...</p>
      <p>Graph2...</p>
    </div>
    <div style="background-color: skyblue" class="col-sm-9">
      <div class="w3-container player_table">
        <h2 style="color: white; text-align: center">Tweets</h2>
      
        <table class="table1">
      
          <thead>
            
              <tr class="w3-light-grey w3-hover-red">
              <th style="text-align: center">User</th>
              <th style="text-align: center">Tweet</th>
              </tr>
          
          </thead>
          
          <%for (var result in tweet){%>
              <tr class="w3-hover-green centre">
                  <td style="text-align: center"><%=tweet[result].user %></td>
                  <td style="text-align: center"><%=tweet[result].text %> <div style="background-color:skyblue" class= <%= tweet[result].class %> align = "centre"><img height= "400" width= '300'alt="Me" align = "centre" background = "grey" src=<%= tweet[result].media %>></div></td>       
              </tr>   
          <%}%>
      
        </table>
      
      </div>
      
    </div>
  </div>
</div>

</body>
</html>
