<!DOCTYPE html>
<html>
<title>Search| events</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./style.css">

<body>

<div class="w3-container player_table">
  <h2 style="color: white; text-align: center">Tweets</h2>

  <table class="w3-table-all">

    <thead>
      
        <tr class="w3-light-grey w3-hover-red">
        <th>User</th>
        <th>Tweet</th>
        </tr>
    
    </thead>
    
    <%for (var result in tweet){%>
        <tr class="w3-hover-green">
            <td><%=tweet[result].user %></td>
            <td><%=tweet[result].text %> <div style="background-color:lightgray" align = "centre"><img height= "400" width= '300'alt="Me" align = "centre" background = "grey" src=<%= tweet[result].media %>></div></td>       
        </tr>   
    <%}%>

  </table>

</div>

</body>
</html> 
